/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(../images/bg.jpeg); 
    background-repeat: no-repeat;
    background-size:100% 100vh;
}

.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    border-radius: 6px;
    padding: 28px;
    margin: 0 28px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0;

}
.input-box{
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3-15px);
}
.input-box input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 20px;
    margin: 0 0;
}
.input-box button{
    background-color: #4070f4;
    height: 10px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    margin: 8px 0;
}
.input-box label{
    width: 95%;
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
    margin: 5px 0;
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 500px;
    background-color: #fff;
    /* overflow: hidden; */
    overflow:auto;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.container form .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}




.input-box input :focus,
.input-box select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-box input[type="date"]:valid{
    color: #333;
}
.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

form button:hover{
    background-color: #265df2;
}

form button:focus{
    background-color: #041546;
} 

form button i{
    margin: 0 6px;
}

form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button{
    margin-right: 14px;
}
/* form .buttons button , .backBtn1{
    margin-right: 14px;
} */
@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .content .input-box{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .content .input-box{
        width: 100%;
    }
}

form .content .addhelper {
    height: 30px;
    width: 90px;
}
form .content .addexpenses {
    height: 30px;
    width: 90px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
  }
  
  td, th , tr{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  form .helpertable .removehelper {
    height: 20px;
    width: 90px;
}

form .content .adddeductions {
    height: 30px;
    width: 90px;
    display: block;
}
form .content .updatedeductions {
    height: 30px;
    width: 90px;
    display: none;
}


@media (max-width: 750px) {
    form .content .input-box{
        width: calc(100% / 2 - 15px);
    }
}